global
  log /dev/log local0
  log /dev/log local1 notice
  chroot /var/lib/haproxy
  stats socket /var/run/haproxy.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode http
  option tcplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend mgmt_port_fe
  bind *:{{ mgmt_port }}
  mode tcp
  default_backend mgmt_port_be

frontend ven_lightning_port_fe
  bind *:{{ ven_lightning_port }}
  mode tcp
  default_backend ven_lightning_port_be

backend mgmt_port_be
  balance roundrobin
  mode tcp
{% for server in haproxy_backend_servers %}
  server {{ server }} {{ server }}:{{ mgmt_port }} check
{% endfor %}
backend ven_lightning_port_be
  balance roundrobin
  mode tcp
{% for server in haproxy_backend_servers %}
  server {{ server }} {{ server }}:{{ ven_lightning_port }} check
{% endfor %}
